// Site Footer
/************************************/
.site-footer {
  background: var(--grey-900);
  color: white;
  text-align: center;
  padding-top: 2rem;
  &-wrap {
    @include wrap;
    margin-bottom: 2rem;
    padding: 30px;
    @media (min-width: $sm) {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $md) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: $lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &-column {
    text-align: left;
    margin-bottom: 40px;
    @media (min-width: $lg) {
      margin-bottom: 0;
      padding-left: 2rem;
      &:nth-child(1) {
        padding-left: 0;
        .site-footer-list {
          @media (min-width: $md) {
            margin-left: 50px;
          }
        }
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        border-right: 1px solid var(--grey-300);
      }
    }
  }
  &-logo {
    width: 100px;
    margin-bottom: 1.4rem;
  }
  &-title {
    color: var(--white);
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: left;
  }
  &-list {
    margin: 0;
    text-align: left;
    &-item {
      list-style: none;
      line-height: 2;
      font-size: 1.1rem;
      &-link {
        text-decoration: none;
        color: var(--white);
        transition: $ease;
        &:hover {
          color: var(--grey-300);
          margin-left: 3px;
        }
      }
    }
  }

  &-copyright {
    color: var(--white);
    background: var(--primary);
    border-top: 1px solid var(--grey-300);
    padding: 30px;
    &-wrap {
      @include wrap;
      @media (min-width: $lg) {
        @include flex-between;
      }
    }
    &-item {
      margin-bottom: 40px;
      @media (min-width: $md) {
        margin-bottom: 0;
      }
    }
    &-txt {
      &-span {
        display: block;
        @media (min-width: $md) {
          display: inline;
        }
      }
    }
    &-link {
      color: var(--primary);
      text-decoration: none;
      transition: $ease;
      &:visited {
        color: var(--primary);
      }
      &:hover {
        color: var(--white);
      }
    }
  }
  &-privacy {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    &-item {
      list-style: none;
    }
    &-link {
      color: var(--white);
      text-decoration: none;
      transition: $ease;
      &:hover {
        color: var(--white);
      }
    }
  }
}
